daniel-goncalves/flows.json
[
    {
        "id": "f4e5ad269a1e6f95",
        "type": "tab",
        "label": "Integração com Watson",
        "disabled": false,
        "info": "Conteúdo da aula 05\n\nAula_05__Introdução_ao_Node_RED_e_à_Integração_de_Serviços_em_Nuvem.pdf",
        "env": []
    },
    {
        "id": "4dcc0f95c188e006",
        "type": "tab",
        "label": "Watson + Telegram",
        "disabled": false,
        "info": "Conteúdo da aula 06\n\nAula_06__Node_RED_e_Integração_de_Serviços_em_Nuvem.pdf",
        "env": []
    },
    {
        "id": "3cfc02438854fd01",
        "type": "tab",
        "label": "Reconhecimento de fala",
        "disabled": false,
        "info": "Conteúdo da aula 07\n\nAula_07__Introdução_ao_Reconhecimento_de_Fala.pdf",
        "env": []
    },
    {
        "id": "3c1ee0e1d1318a46",
        "type": "telegram bot",
        "botname": "VitorRubimBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "d1b1eeb71732d6db",
        "type": "inject",
        "z": "f4e5ad269a1e6f95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello world!",
        "payloadType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "3c8f0a52ac9ea5e2"
            ]
        ]
    },
    {
        "id": "a99e33ee142979c9",
        "type": "debug",
        "z": "f4e5ad269a1e6f95",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c8f0a52ac9ea5e2",
        "type": "function",
        "z": "f4e5ad269a1e6f95",
        "name": "function 1",
        "func": "const dateNow = new Date();\nconst timeAsString = dateNow.toLocaleTimeString();\n\nmsg.payload = msg.payload + \" A hora é \" + timeAsString;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "a99e33ee142979c9"
            ]
        ]
    },
    {
        "id": "f6ae8dcaeb0cffb9",
        "type": "http in",
        "z": "f4e5ad269a1e6f95",
        "name": "Entrada",
        "url": "/conversa",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "e441ecf298ea5876"
            ]
        ]
    },
    {
        "id": "e441ecf298ea5876",
        "type": "function",
        "z": "f4e5ad269a1e6f95",
        "name": "Prepara mensagem para o watson",
        "func": "msg.params = {\n    \"session_id\": msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\n\nmsg.payload = msg.payload.mensagem;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "31e085f1958ae5fe"
            ]
        ]
    },
    {
        "id": "31e085f1958ae5fe",
        "type": "watson-assistant-v2",
        "z": "f4e5ad269a1e6f95",
        "name": "Escola",
        "service-endpoint": "",
        "assistant_id": "2b06254b-9e40-471b-817a-1b4dfdedab80",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "f57ec2b755970b78"
            ]
        ]
    },
    {
        "id": "f57ec2b755970b78",
        "type": "function",
        "z": "f4e5ad269a1e6f95",
        "name": "Prepara retorno do Watson",
        "func": "msg.payload = msg.payload.output.generic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "8f44e2371b95f713"
            ]
        ]
    },
    {
        "id": "8f44e2371b95f713",
        "type": "http response",
        "z": "f4e5ad269a1e6f95",
        "name": "Retorno",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "a1ac85db57ebc8fd",
        "type": "telegram receiver",
        "z": "4dcc0f95c188e006",
        "name": "",
        "bot": "3c1ee0e1d1318a46",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "ac761e354372e2ee",
                "b9150923d7508432"
            ],
            [
                "1d2c4f9a4f2827ae"
            ]
        ]
    },
    {
        "id": "ac761e354372e2ee",
        "type": "debug",
        "z": "4dcc0f95c188e006",
        "name": "Entrada no Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f94850ebd21cace",
        "type": "telegram sender",
        "z": "4dcc0f95c188e006",
        "name": "",
        "bot": "3c1ee0e1d1318a46",
        "haserroroutput": false,
        "outputs": 1,
        "x": 970,
        "y": 240,
        "wires": [
            [
                "64e5bb11fbcfeb4a"
            ]
        ]
    },
    {
        "id": "e1db4bdce5d9d538",
        "type": "watson-assistant-v2",
        "z": "4dcc0f95c188e006",
        "name": "Escola",
        "service-endpoint": "",
        "assistant_id": "2b06254b-9e40-471b-817a-1b4dfdedab80",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "352b0e65c24b83c8",
                "a9ccb573268a3b22"
            ]
        ]
    },
    {
        "id": "352b0e65c24b83c8",
        "type": "debug",
        "z": "4dcc0f95c188e006",
        "name": "Resposta para o Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "b9150923d7508432",
        "type": "change",
        "z": "4dcc0f95c188e006",
        "name": "Prepara entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "e1db4bdce5d9d538"
            ]
        ]
    },
    {
        "id": "a9ccb573268a3b22",
        "type": "change",
        "z": "4dcc0f95c188e006",
        "name": "Prepara retorno",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "6f94850ebd21cace"
            ]
        ]
    },
    {
        "id": "1d2c4f9a4f2827ae",
        "type": "function",
        "z": "4dcc0f95c188e006",
        "name": "Acesso não autorizado",
        "func": "msg.payload.content = \"Você não é um usuário autorizado\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "6f94850ebd21cace"
            ]
        ]
    },
    {
        "id": "64e5bb11fbcfeb4a",
        "type": "debug",
        "z": "4dcc0f95c188e006",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 160,
        "wires": []
    },
    {
        "id": "c2131a6766bf3b29",
        "type": "watson-speech-to-text",
        "z": "3cfc02438854fd01",
        "name": "Watson STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "0Aqpq6KqHGNGV3JVr_O3TaA2JepUUjgJDyYSWY8sUTAO",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/0a670231-6613-4abe-b4ad-31962572544b",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "be7f0db93396a4b3"
            ]
        ]
    },
    {
        "id": "be7f0db93396a4b3",
        "type": "debug",
        "z": "3cfc02438854fd01",
        "name": "Saida text",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "91202139eaf7cdb8",
        "type": "telegram receiver",
        "z": "3cfc02438854fd01",
        "name": "",
        "bot": "3c1ee0e1d1318a46",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "b9bf4ab11c7ac01f",
                "ad2f58de267a05cd"
            ],
            []
        ]
    },
    {
        "id": "b9bf4ab11c7ac01f",
        "type": "debug",
        "z": "3cfc02438854fd01",
        "name": "Entrada Audio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "ad2f58de267a05cd",
        "type": "function",
        "z": "3cfc02438854fd01",
        "name": "Proc entrada",
        "func": "msg.payload = msg.payload.weblink;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "c2131a6766bf3b29"
            ]
        ]
    }
]