daniel-goncalves/telegramAndWatsonIntegration.json
[
  {
      "id": "3ce7f815bed08036",
      "type": "tab",
      "label": "Flow 1",
      "disabled": false,
      "info": "",
      "env": []
  },
  {
      "id": "c135a3950c952897",
      "type": "telegram bot",
      "botname": "VitorRubimBot",
      "usernames": "",
      "chatids": "",
      "baseapiurl": "",
      "updatemode": "polling",
      "pollinterval": "300",
      "usesocks": false,
      "sockshost": "",
      "socksprotocol": "socks5",
      "socksport": "6667",
      "socksusername": "anonymous",
      "sockspassword": "",
      "bothost": "",
      "botpath": "",
      "localbotport": "8443",
      "publicbotport": "8443",
      "privatekey": "",
      "certificate": "",
      "useselfsignedcertificate": false,
      "sslterminated": false,
      "verboselogging": false
  },
  {
      "id": "590651b297c02236",
      "type": "telegram receiver",
      "z": "3ce7f815bed08036",
      "name": "",
      "bot": "c135a3950c952897",
      "saveDataDir": "",
      "filterCommands": false,
      "x": 130,
      "y": 200,
      "wires": [
          [
              "865b82e02d2bc62f",
              "5efb389385888e85"
          ],
          [
              "ac4dbcc95b2de0f9"
          ]
      ]
  },
  {
      "id": "865b82e02d2bc62f",
      "type": "debug",
      "z": "3ce7f815bed08036",
      "name": "Entrada no telegram",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 360,
      "y": 100,
      "wires": []
  },
  {
      "id": "2e8a9933757621ed",
      "type": "telegram sender",
      "z": "3ce7f815bed08036",
      "name": "",
      "bot": "c135a3950c952897",
      "haserroroutput": false,
      "outputs": 1,
      "x": 910,
      "y": 200,
      "wires": [
          [
              "41d7b636cfcd56cf"
          ]
      ]
  },
  {
      "id": "1f2a5a8d38b41aa3",
      "type": "watson-assistant-v2",
      "z": "3ce7f815bed08036",
      "name": "Vendas",
      "service-endpoint": "",
      "assistant_id": "c9c750ad-7fc3-4cbd-8b34-23cb652b6d0b",
      "debug": false,
      "restart": false,
      "return_context": true,
      "alternate_intents": false,
      "multisession": true,
      "timeout": "",
      "optout-learning": false,
      "persist-session-id": false,
      "x": 520,
      "y": 200,
      "wires": [
          [
              "36cbb72cb16fb980",
              "5412e8aa37a763b5"
          ]
      ]
  },
  {
      "id": "36cbb72cb16fb980",
      "type": "debug",
      "z": "3ce7f815bed08036",
      "name": "Resposta para o telegram",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 670,
      "y": 100,
      "wires": []
  },
  {
      "id": "c05489fad3600aee",
      "type": "function",
      "z": "3ce7f815bed08036",
      "name": "",
      "func": "msg.params = {\n    \"session_id\": msg.payload.session_id !== \"undefined\" ? msg.payload : \"\"\n}\n\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 220,
      "y": 460,
      "wires": [
          []
      ]
  },
  {
      "id": "6202da44de322973",
      "type": "function",
      "z": "3ce7f815bed08036",
      "name": "",
      "func": "msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 620,
      "y": 460,
      "wires": [
          []
      ]
  },
  {
      "id": "5efb389385888e85",
      "type": "change",
      "z": "3ce7f815bed08036",
      "name": "Prepara entrada",
      "rules": [
          {
              "t": "set",
              "p": "req.params.session_id",
              "pt": "msg",
              "to": "req.params.chatId",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "chatId",
              "pt": "msg",
              "to": "payload.chatId",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload.content",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 340,
      "y": 200,
      "wires": [
          [
              "1f2a5a8d38b41aa3"
          ]
      ]
  },
  {
      "id": "5412e8aa37a763b5",
      "type": "change",
      "z": "3ce7f815bed08036",
      "name": "Prepara retorno",
      "rules": [
          {
              "t": "set",
              "p": "payload.chatId",
              "pt": "msg",
              "to": "chatId",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "payload.type",
              "pt": "msg",
              "to": "message",
              "tot": "str"
          },
          {
              "t": "set",
              "p": "payload.content",
              "pt": "msg",
              "to": "payload.output.generic[0].text",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 700,
      "y": 200,
      "wires": [
          [
              "2e8a9933757621ed"
          ]
      ]
  },
  {
      "id": "41d7b636cfcd56cf",
      "type": "debug",
      "z": "3ce7f815bed08036",
      "name": "Retorno",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 960,
      "y": 100,
      "wires": []
  },
  {
      "id": "ac4dbcc95b2de0f9",
      "type": "function",
      "z": "3ce7f815bed08036",
      "name": "Acesso não autorizado",
      "func": "msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 540,
      "y": 320,
      "wires": [
          [
              "2e8a9933757621ed"
          ]
      ]
  }
]